<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3qoBizbFJvr1hn-r5AKsP9IYb_1iop00</string>
	<key>GCM_SENDER_ID</key>
	<string>759460043840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halflambda.aigo</string>
	<key>PROJECT_ID</key>
	<string>subtle-striker-424805-e3</string>
	<key>STORAGE_BUCKET</key>
	<string>subtle-striker-424805-e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759460043840:ios:a2037a4370e9f35ce993a5</string>
</dict>
</plist>